<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>764765102680-04od3gt8efkmfh0tocjcm50em0pqo37u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.764765102680-04od3gt8efkmfh0tocjcm50em0pqo37u</string>
	<key>API_KEY</key>
	<string>AIzaSyCsR63hHKbBrgaZqI0jbgt_dxXY-H6GFsg</string>
	<key>GCM_SENDER_ID</key>
	<string>764765102680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.github.rmtmckenzie.qrMobileVisionExample</string>
	<key>PROJECT_ID</key>
	<string>flutter-qr-mobile-vision</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-qr-mobile-vision.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764765102680:ios:2d0bcf6dcc4466b0d4202d</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-qr-mobile-vision.firebaseio.com</string>
</dict>
</plist>